.cell {
    width: 60px;
    min-width: 20px;
    height: 60px;
    min-height: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell_white {
    background-color: #c68e29;
}

.cell_black {
    background-color: #914a0a;
}

.chess_figure_image {
    width: 55px;
    height: 55px;
}

.chess_move_suggestion {
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
